.header {
  display: flex;
  align-items: center;
  background-color: #c43333;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.header .logo {
  max-height: 30px;
}

.header .title-group {
  padding-left: 20px;
}

.header .title-group i {
  padding-right: 6px;
}
