<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Lojas Rede </mat-card-title>
  <mat-card-subtitle class="subtitle">
    O melhor você encontra aqui
  </mat-card-subtitle>
  <div class="produtinho">
  
  <p>Codigo: 01</p>
  <img src="assets/img/Produto1.jpg"/>
  <p>Codigo: 02</p>
  <img src="assets/img/Produto2.jpg"/>
  <p>Codigo: 03</p>
  <img src="assets/img/Produto3.jpg"/>
  <p>Codigo: 04</p>
  <img src="assets/img/Produto4.jpg"/>
  <p>Codigo: 05</p>
  <img src="assets/img/Produto5.jpg"/>
  <p>Codigo: 06</p>
  <img src="assets/img/Produto6.jpg"/>
  <p>Codigo: 07</p>
  <img src="assets/img/Produto7.jpg"/>
  <p>Codigo: 08</p>
  <img src="assets/img/Produto8.jpg"/>
  
  
</div>
</mat-card>